.main-playground {
    height: 700px;
    width: 900px;
    margin: 5px auto 50px;
    display: grid;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td {
    /* border: 5px solid black; */
    border:8px solid rgba(203, 203, 212, 0.7);
    width: 33.3%;
    height: 33.3%;
}


.box{
    height: 200px;
    width: 100%;
}

.box img{
    max-width: auto;
    max-height: 200px;
    display: block;
    margin: auto;
    filter: brightness(0) invert(1);
}

.invisble {
    display: none;
}

/* https://www.color-meanings.com/colors-that-go-with-navy-blue/ */