.main-scoreboard{
    height: 120px;
    width: 100%;
    margin: 0px auto 0px;
    position: relative;
    background-color: #102050;
}

.turn-main{
    display: flex;
    margin: 0px auto;
    width: 250px;
}

.its-my-turn {
    color: #ffc400 !important;
    background-color: #dfdfe6 !important;
    font-size: 27px !important;
}

.turn-symbol{
    height: 60px;
    width: 120px;
    font-size: 20px;
    color: #bd9c31;
    background-color: #737374;
    font-family: sans-serif;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}